<!DOCTYPE html>
<html lang="en">
{%load crispy_forms_tags %}
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is a travel blog">
        <title>Latin Nomad - Add Post</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <li><a href="home"><h1>Latin Nomad</h1></a></li>
            <nav>
                <ul class="top-nav">
                    <li><a href="start"><h1>Start Here</h1></a></li>
                    <li><a href="destinations"><h1>Destinations</h1></a></li>
                    <li><a href="about"><h1>About</h1></a></li>
                </ul>
            </nav>
        </header>
        <hr>
        <div class="add-edit-content">
            <div class="add-edit-text"><h1>Add Post</h1></div>
            <div class="add-post-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="post-post">Post</button>
                </form>
            </div>
        </div>
        <div class="nav-bottom">
            <button class="topbutton" data-top-button>Go to Top</button>
        </div>
    </body>
</html>