<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is a travel blog">
        <title>Latin Nomad</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <li><a href="home"><h1>Latin Nomad</h1></a></li>
            <nav>
                <ul class="top-nav">
                    <li><a href="start"><h1>Start Here</h1></a></li>
                    <li><a href="destinations"><h1>Destinations</h1></a></li>
                    <li><a href="about"><h1>About</h1></a></li>
                </ul>
            </nav>
        </header>
        <hr>
        <div class="featured">
            <h1>Argentina</h1>
            <div class="country-desc">
                <div class="paragraph-block">
                    <p1>A clash of Latin and European cultures and influences. Meat, wine, mate, and soccer is what this country breathes. See my latest posts from Argentina here.</p1>
                </div>
            </div>
            <div class="featured-block">
                <div class="featured-block3">
                    <a href="posts/buenos-aires"><img src="../static/BuenosAires/ba-me.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href="posts/buenos-aires"><h2>Tour Buenos Aires</h2></a>
                    <hr>
                    <a href="posts/buenos-aires"><h2>Paris in South America</h2></a>
                    <a href="posts/buenos-aires"><h2>Read More</h2></a>
                </div>
            </div>
        </div>
        <div class="nav-bottom">
            <button class="topbutton" data-top-button>Go to Top</button>
        </div>
    </body>
</html>