<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZSLRNY9WN"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-VZSLRNY9WN');
        </script>
        <meta charset="UTF-8">
        <meta name="description" content="This is a travel blog">
        <title>Latin Nomad</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <li><a href="{% url 'home' %}"><h1>Latin Nomad</h1></a></li>
            <nav>
                <ul class="top-nav">
                    <li><a href="start"><h1>Start Here</h1></a></li>
                    <li><a href="destinations"><h1>Destinations</h1></a></li>
                    <li><a href="about"><h1>About</h1></a></li>
                </ul>
            </nav>
        </header>
        <hr>
        <div class="featured">
            <h1>Colombia</h1>
            <div class="country-desc">
                <div class="paragraph-block">
                    <p1>An amazing biodiversity, breathtaking views, and an incredible collision of the Amazon, Andes, and Caribbean Sea. I've lived for over a year here and I know it well. See my latest posts from Colombia here.</p1>
                </div>
            </div>
            <div class="featured-block">
                <div class="featured-block2">
                    <a href="posts/san-andres"><img src="../static/SanAndres/sa-me.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href="posts/san-andres"><h2>See San Andrés</h2></a>
                    <hr>
                    <a href="posts/san-andres"><h2>Colombia's Best Beaches</h2></a>
                    <a href="posts/san-andres"><h2>Read More</h2></a>
                </div>
                <div class="featured-block2">
                    <a href="posts/medellin"><img src="../static/Medellin/med2.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href="posts/medellin"><h2>See Medellín</h2></a>
                    <hr>
                    <a href="posts/medellin"><h2>Colombia's Best City</h2></a>
                    <a href="posts/medellin"><h2>Read More</h2></a>
                </div>
            </div>
        </div>
        <div class="nav-bottom">
            <button class="topbutton" data-top-button><img src="../static/arrow.png"></button>
        </div>
    </body>
</html>