<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZSLRNY9WN"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-VZSLRNY9WN');
        </script>
        <meta charset="UTF-8">
        <meta name="description" content="This is a travel blog">
        <title>Latin Nomad - Destinations</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <li><a href="{% url 'home' %}"><h1>Latin Nomad</h1></a></li>
            <nav>
                <ul class="top-nav">
                    <li><a href="start"><h1>Start Here</h1></a></li>
                    <li><a href="destinations"><h1>Destinations</h1></a></li>
                    <li><a href="about"><h1>About</h1></a></li>
                </ul>
            </nav>
        </header>
        <hr>
        <img src="../static/dest-main-txt.jpg" class="header-photo" alt="Cool Image of Latin America">
        <div class="featured-countries">
            <h1>Explore By Country</h1>
            <div class="country-block">
                <div class="country">
                        <a href="méxico"><img src="../static/HomePage/mexico-featured.jpg" class="featured-image" alt="Image of Post"></a>
                        <a href="méxico"><h2>México</h2></a>
                </div>
                <div class="country">
                        <a href="colombia"><img src="../static/HomePage/colombia-featured.jpg" class="featured-image" alt="Image of Post"></a>
                        <a href="colombia"><h2>Colombia</h2></a>
                </div>
                <div class="country">
                        <a href="argentina"><img src="../static/BuenosAires/argentina-featured.jpg" class="featured-image" alt="Image of Post"></a>
                        <a href="argentina"><h2>Argentina</h2></a>
                </div>
            </div>
        </div>
        <div class="nav-bottom">
            <button class="topbutton" data-top-button>Go to Top</button>
        </div>
    </body>
</html>