<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZSLRNY9WN"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-VZSLRNY9WN');
        </script>
        <meta charset="UTF-8">
        <meta name="description" content="This is a travel blog">
        <title>Latin Nomad</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <li><a href=""><h1>Latin Nomad</h1></a></li>
            <nav>
                <ul class="top-nav">
                    {% if request.user.is_superuser %}
                    <li><a href="posts"><h1>Posts</h1></a></li>
                    {% endif %}
                    <li><a href="start"><h1>Start Here</h1></a></li>
                    <li><a href="destinations"><h1>Destinations</h1></a></li>
                    <li><a href="about"><h1>About</h1></a></li>
                </ul>
            </nav>
        </header>
        <hr>
        <div class="carousel" data-carousel>
            <button class="prev" data-carousel-button="prev">&#8249;</button>
            <button class="next" data-carousel-button="next">&#8250;</button>
            <ul data-slides>
                <li class="slide" data-active><img src="../static/HomePage/homeimagetxt.jpg" class="home-image" alt="Cool Image of Latin America"></li>
                <li class="slide"><img src="../static/HomePage/slide1.jpg" class="home-image" alt="Cool Image of Latin America"></li>
                <li class="slide"><img src="../static/HomePage/slide2.jpg" class="home-image" alt="Cool Image of Latin America"></li>
            </ul>
        </div>
        <div class="featured">
            <h1>Featured Blog Posts</h1>
            <div class="featured-block">
                <div class="featured-block1">
                    <a href="posts/riviera-maya"><img src="../static/RivieraMaya/rm-me.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href="posts/riviera-maya"><h2>Explore The Riviera Maya</h2></a>
                    <hr>
                    <a href="posts/riviera-maya"><h2>Mexico's Paradise</h2></a>
                    <a href="posts/riviera-maya"><h2>Read More</h2></a>
                </div>
                <div class="featured-block2">
                    <a href="posts/san-andres"><img src="../static/SanAndres/sa-me.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href="posts/san-andres"><h2>See San Andrés</h2></a>
                    <hr>
                    <a href=posts/san-andres""><h2>Colombia's Best Beaches</h2></a>
                    <a href="posts/san-andres"><h2>Read More</h2></a>
                </div>
                <div class="featured-block3">
                    <a href="posts/buenos-aires"><img src="../static/BuenosAires/ba-me.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href="posts/buenos-aires"><h2>Tour Buenos Aires</h2></a>
                    <hr>
                    <a href="posts/buenos-aires"><h2>Paris in South America</h2></a>
                    <a href="posts/buenos-aires"><h2>Read More</h2></a>
                </div>
            </div>
        </div>
        <div class="about">
            <h1>About Latin Nomad</h1>
            <div class="about-block">
                <div class="about-image">
                    <a href="about"><img src="../static/AboutPage/profile-pic.jpg" class="featured-image2" alt="Image of Post"></a>
                </div>
                <div class="about-text">
                    <h3>About John</h3>
                    <h4>I'm from the US, but after a family trip to Costa Rica, I knew Latin America was where I wanted to be. After going off on a solo trip to Colombia at 19 years old, there was no stopping me. I've gone on to travel (so far) 6 Latin countries.</h4>
                    <a href="about"><h3>Read More</h3></a>
                </div>
            </div>
        </div>
        <div class="featured-countries">
            <h1>Explore By Country</h1>
            <div class="country-block">
                <div class="country">
                        <a href="méxico"><img src="../static/HomePage/mexico-featured.jpg" class="featured-image-country" alt="Image of Post"></a>
                        <a href="méxico"><h2>México</h2></a>
                </div>
                <div class="country">
                        <a href="colombia"><img src="../static/HomePage/colombia-featured.jpg" class="featured-image-country" alt="Image of Post"></a>
                        <a href="colombia"><h2>Colombia</h2></a>
                </div>
                <div class="country">
                        <a href="argentina"><img src="../static/BuenosAires/argentina-featured.jpg" class="featured-image-country" alt="Image of Post"></a>
                        <a href="argentina"><h2>Argentina</h2></a>
                </div>
            </div>
        </div>
        <div class="nav-bottom">
            <button class="topbutton" data-top-button><img src="../static/arrow.png"></button>
        </div>
    </body>
</html>