<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZSLRNY9WN"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-VZSLRNY9WN');
        </script>
        <meta charset="UTF-8">
        <meta name="description" content="This is a travel blog">
        <title>Latin Nomad</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <li><a href="{% url 'home' %}"><h1>Latin Nomad</h1></a></li>
            <nav>
                <ul class="top-nav">
                    <li><a href="start"><h1>Start Here</h1></a></li>
                    <li><a href="destinations"><h1>Destinations</h1></a></li>
                    <li><a href="about"><h1>About</h1></a></li>
                </ul>
            </nav>
        </header>
        <hr>
        <div class="featured">
            <h1>México</h1>
            <div class="country-desc">
                <div class="paragraph-block">
                    <p1>An incredibly large and diverse country with an incredible culture, tropical beaches, and great food. See my latest posts from México here.</p1>
                </div>
            </div>
            <div class="featured-block">
                <div class="featured-block1">
                    <a href="posts/riviera-maya"><img src="../static/RivieraMaya/rm-me.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href="posts/riviera-maya"><h2>Explore The Riviera Maya</h2></a>
                    <hr>
                    <a href="posts/riviera-maya"><h2>Mexico's Paradise</h2></a>
                    <a href="posts/riviera-maya"><h2>Read More</h2></a>
                </div>
            </div>
        </div>
        <div class="nav-bottom">
            <button class="topbutton" data-top-button>Go to Top</button>
        </div>
    </body>
</html>