<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZSLRNY9WN"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-VZSLRNY9WN');
        </script>
        <meta charset="UTF-8">
        <meta name="description" content="This is a travel blog">
        <title>Latin Nomad - Start Here</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <li><a href="{% url 'home' %}"><h1>Latin Nomad</h1></a></li>
            <nav>
                <ul class="top-nav">
                    <li><a href="start"><h1>Start Here</h1></a></li>
                    <li><a href="destinations"><h1>Destinations</h1></a></li>
                    <li><a href="about"><h1>About</h1></a></li>
                </ul>
            </nav>
        </header>
        <hr>
        {% if request.user.is_superuser %}
        <div class="post-list">
            <div class="add">
                <a href="newpost">Add Post</a>
            </div>
            {% for post in object_list %}
                <div class="post-title">
                    <li><a href="{% url 'article-detail' post.slug%}">{{ post.title }}</a></li>
                </div>
                <div class="edit-delete">
                    <a href="{% url 'edit-post' post.slug%}">Edit Post</a>
                    <a href="{% url 'delete-post' post.slug%}">Delete Post</a>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="post-list2">
            <div class="add">
                <h1>All Posts</h1>
            </div>
            {% for post in object_list %}
                <div class="post-title2">
                    <h1>{{ post.title }}</h1>
                    <hr>
                    <h1><a href="{% url 'article-detail' post.slug%}">Read More</a></h1>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="nav-bottom">
            <button class="topbutton" data-top-button>Go to Top</button>
        </div>
    </body>
</html>