<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is a travel blog">
        <title>Latin Nomad - Destinations</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <li><a href="home"><h1>Latin Nomad</h1></a></li>
            <nav>
                <ul class="top-nav">
                    <li><a href="start"><h1>Start Here</h1></a></li>
                    <li><a href="destinations"><h1>Destinations</h1></a></li>
                    <li><a href="about"><h1>About</h1></a></li>
                </ul>
            </nav>
        </header>
        <hr>
        <div class="post-main-content">
            <img src="../static/SanAndres/sa-maintxt.jpg" class="blog-pic-main" alt="Image of Beach">
            <h1>Your Guide to Colombia's Best Beaches</h1>
            <div class="paragraph-block">
                <p1>Dreaming of crystal clear Caribbean water? Palm trees lining the shores? Coral reefs and cocktails? Colombia isn't famous for its beaches, but the country has arguably some of the top beaches in the Caribbean.</p1>
                <p1>Here are the best beaches you can find around the island. </p1>
            </div>
            <h1>Spratt Bight</h1>
            <div class="paragraph-block">
                <p1>This is the main beach right along the town center. You would think this would make it overcrowded and undesirable, but it's actually a very long beach with lots of room, and it's stunning!</p1>
                <img src="../static/SanAndres/sa-me.jpg" class="blog-pic-med" alt="Image of Beach">
                <p1>This amazing beach is just a few minutes walk away from just about anywhere in town. Along with the beach itself there is a boardwalk style street along the beach with shops, bars, and restaurants. It's a walking only area so no cars in the way!</p1>
                <p1>Most of the water is a shallow sandy bottom with some coral here and there further out so it's great for swimming.</p1>
                <img src="../static/SanAndres/spratt1.jpg" class="blog-pic-med" alt="Image of Beach">
                <p1>Just in front of the beach you can easily see the nearby island, Johnny Cay (pronounced like key).</p1>
            </div>
            <h1>Johnny Cay</h1>
            <div class="paragraph-block">
                <p1>This is the island directly north of the main beach. You can get there by taking a speedboat from the main marina. Just so you know, if there is some swell the boat ride can get VERY bumpy and make for a hail mary attempt to leap out of the boat and then avoid it hitting you once you hit shore. But if you survive the trip, you're in picture-perfect paradise.</p1>
                <img src="../static/SanAndres/jc1.jpg" class="blog-pic-med" alt="Image of Beach">
                <p1>The water isn't too great for swimming here because of a lot of reef and rocks, not to mention loads of people in the few open areas and the boats trying to land. That being said the sapphire blue water looks unreal and the little heart shaped island is absolutely filled with palm trees.</p1>
                <img src="../static/SanAndres/jc2.jpg" class="blog-pic-wide" alt="Image of Beach">
                <p1>If you feel like getting away from the crowds, you can go around to the other side of the island where ou can't see the main island, much less people go there as you can't really swim and it's on the opposite end of where the boats land.</p1>
            </div>
            <h1>Cocoplum</h1>
            <div class="paragraph-block">
                <p1>Another beach on the main island, this one is about 20-30 minutes south of town. There's honestly a bit more crowd and the water isn't an as amazing shade of blue, but without any shops or town it has a more laid back vibe to it.</p1>
                <img src="../static/SanAndres/coco2.jpg" class="blog-pic-med" alt="Image of Beach">
                <p1>The most interesting part of this beach is that is also has a tiny coral island in front of it, it's so close and shallow you can swim and nearly walk there!</p1>
                <img src="../static/SanAndres/coco1.jpg" class="blog-pic-med" alt="Image of Beach">
            </div>
            <h1>El Acuario</h1>
            <div class="paragraph-block">
                <p1>Saving the best for last, this extremely narrow beach can get very crowded, but is worth every second there. The water here is several different shades of light and dark turquiose blue and is just about the clearest water I've seen anywhere, it's mind blowingly beautiful.</p1>
                <img src="../static/SanAndres/sa-me-beach.jpg" class="blog-pic-small" alt="Image of Beach">
                <p1>You'll have to take a boat from the marina but the ride here is sheltered by the reef, so it's always a smooth ride, and it's only a few minutes away. The beach itself is quite small and narrow, but the main attraction is the shallow bars of reef right along the side of the sand. It's basically like a little swimming pool! It's teaming with fish, friendly nurse sharks and rays, and sea urchins (so rent some water shoes).</p1>
                <img src="../static/SanAndres/acuario1.jpg" class="blog-pic-med" alt="Image of Beach">
                <img src="../static/SanAndres/haynes1.jpg" class="blog-pic-med" alt="Image of Beach">
                <p2>There is another much larger island right alongside this one (Haynes Cay), but without the good beaches and swimming areas so it's best to go there to get away from the crowds or get something to eat.</p2>
            </div>
        </div>
        <div class="nav-bottom">
            <button class="topbutton" data-top-button>Go to Top</button>
        </div>
    </body>
</html>