<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is a travel blog">
        <title>Latin Nomad - Start Here</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <li><a href="home"><h1>Latin Nomad</h1></a></li>
            <nav>
                <ul class="top-nav">
                    <li><a href="start"><h1>Start Here</h1></a></li>
                    <li><a href="destinations"><h1>Destinations</h1></a></li>
                    <li><a href="about"><h1>About</h1></a></li>
                </ul>
            </nav>
        </header>
        <hr>
        <img src="../static/start-main-txt.jpg" class="header-photo" alt="Cool Image of Latin America">
        <div class="start-main-content">
            <h1>First Time on the Site?</h1>
            <div class="paragraph-block">
                <p1>Hey! I'm John, and I've fallen in love with Latin America. So what did I do about it? I set out to travel to each and every country it has of course!</p1>
                <p1>Here you can find easy to read information about the places I've been to and my personal experiences there, as well as home helpful guides and tips on traveling in the region!</p1></p1>
                <h1>About Latin Nomad</h1>
                <img src="../static/AboutPage/profile-pic.jpg" class="blog-pic-med" alt="Image of Beach">
                <p1>At 19 years old, I dropped everything and booked a one-way solo trip to Colombia, and I have never looked back since.</p1>
                <p1>I started this blog to share my experiences, as well as help any new backpackers and solo-travelers to start traveling and guide them through exactly what I went through.</p1>
            </div>
        </div>
        <div class="featured">
            <h1>Recent Blog Posts</h1>
            <div class="featured-block">
                <div class="featured-block1">
                    <a href="posts/riviera-maya"><img src="../static/RivieraMaya/rm-me.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href="posts/riviera-maya"><h2>Explore The Riviera Maya</h2></a>
                    <hr>
                    <a href="posts/riviera-maya"><h2>Mexico's Paradise</h2></a>
                    <a href="posts/riviera-maya"><h2>Read More</h2></a>
                </div>
                <div class="featured-block2">
                    <a href="posts/san-andres"><img src="../static/SanAndres/sa-me.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href="posts/san-andres"><h2>See San Andrés</h2></a>
                    <hr>
                    <a href=posts/san-andres""><h2>Colombia's Best Beaches</h2></a>
                    <a href="posts/san-andres"><h2>Read More</h2></a>
                </div>
                <div class="featured-block3">
                    <a href="posts/buenos-aires"><img src="../static/BuenosAires/ba-me.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href="posts/buenos-aires"><h2>Tour Buenos Aires</h2></a>
                    <hr>
                    <a href="posts/buenos-aires"><h2>Paris in South America</h2></a>
                    <a href="posts/buenos-aires"><h2>Read More</h2></a>
                </div>
            </div>
        </div>
        <div class="nav-bottom">
            <button class="topbutton" data-top-button>Go to Top</button>
        </div>
    </body>
</html>