<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is a travel blog">
        <title>Latin Nomad</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
        <script src="../static/script.js" defer></script>
    </head>
    <body>
        <header>
            <li><a href=""><h1>Latin Nomad</h1></a></li>
            <nav>
                <ul class="top-nav">
                    <li><a href=""><h1>Start Here</h1></a></li>
                    <li><a href=""><h1>Destinations</h1></a></li>
                    <li><a href=""><h1>About</h1></a></li>
                </ul>
            </nav>
        </header>
        <hr>
        <div class="carousel" data-carousel>
            <button class="prev" data-carousel-button="prev">&#8249;</button>
            <button class="next" data-carousel-button="next">&#8250;</button>
            <ul data-slides>
                <li class="slide" data-active><img src="../static/homeimage.jpg" class="home-image" alt="Cool Image of Latin America"></li>
                <li class="slide"><img src="../static/slide1.jpg" class="home-image" alt="Cool Image of Latin America"></li>
                <li class="slide"><img src="../static/slide2.jpg" class="home-image" alt="Cool Image of Latin America"></li>
            </ul>
        </div>
        <div class="featured">
            <h1>Featured Blog Posts</h1>
            <div class="featured-block">
                <div class="featured-block1">
                    <a href=""><img src="../static/homeimage.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href=""><h2>Blog Post 1</h2></a>
                    <hr>
                    <a href=""><h2>Blog Post Information</h2></a>
                    <a href=""><h2>Read More</h2></a>
                </div>
                <div class="featured-block2">
                    <a href=""><img src="../static/slide1.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href=""><h2>Blog Post 2</h2></a>
                    <hr>
                    <a href=""><h2>Blog Post Information</h2></a>
                    <a href=""><h2>Read More</h2></a>
                </div>
                <div class="featured-block3">
                    <a href=""><img src="../static/slide2.jpg" class="featured-image" alt="Image of Post"></a>
                    <a href=""><h2>Blog Post 3</h2></a>
                    <hr>
                    <a href=""><h2>Blog Post Information</h2></a>
                    <a href=""><h2>Read More</h2></a>
                </div>
            </div>
        </div>
        <div class="country-block">
            <h1>Explore By Country</h1>
        </div>
    </body>
</html>